// ====================================
// Global fonts
// ====================================
/*
* TOC
*
* Roboto (normal)
* Myriad-pro (normal)
* Noto Serif (normal)
* Playfair Display (normal)
* Roboto Condensed (normal)
*/

@font-face {
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
    font-family: 'roboto-medium';
}

@font-face {
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-family: 'roboto-regular';
}
@font-face {
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
    font-family: 'roboto-bold';
}
@font-face {
    src: url('../fonts/Roboto/Roboto-Black.ttf');
    font-family: 'roboto-black';
}

@font-face {
    src: url('../fonts/RobotoCondensed/RobotoCondensed-Bold.ttf');
    font-family: 'robotoCond-bold';
}



@font-face {
    src: url('../fonts/Noto_Serif/NotoSerif-Regular.ttf');
    font-family: 'noto-regular';
}
@font-face {
    src: url('../fonts/Noto_Serif/NotoSerif-Bold.ttf');
    font-family: 'noto-bold';
}



@font-face {
    src: url('../fonts/Myriad-pro/MyriadPro-SemiboldCond.otf');
    font-family: 'myriad-semibold';
}

@font-face {
    src: url('../fonts/Myriad-pro/MyriadPro-Cond.otf');
    font-family: 'myriad-cond';
}
@font-face {
    src: url('../fonts/Myriad-pro/MyriadPro-BoldCond.otf');
    font-family: 'myriad-bold-cond';
}


@font-face {
    src: url('../fonts/PlayfairDisplay/static/PlayfairDisplay-Black.ttf');
    font-family: 'playfair-display';
}

