// ====================================
// header style
// ====================================
/*
* TOC
*
* header
* search result stock
*/
// > GLOBAL Elements
@mixin roboto-medium {
  font-family: "roboto medium";
}

.header {

  &__banner {
    height: 440px;
    background-size: 100%;
    width: 100%;
    position: relative;
    margin-top: 50px;
    background: url(../img/banner.png) no-repeat center center;
    background-size: cover;

    @media (min-width:1441px) {
      height: 500px;
    }

    a:hover {
      color: white !important;
      cursor: pointer;
    }

    .container {
      position: relative;
    }

    .heading {
      position: absolute;
      right: 52px;
      top: 141px;
      text-align: center;
      width: 586px;
    }

    .heading {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 43px;
      line-height: 55px;
      margin-bottom: 5px;
      font-family: "myriad-semibold";
      color: $white;
      display: block;
      pointer-events: none;
    }

    .des {
      color: $white;
      display: block;
      pointer-events: none;
      font-family: "myriad-cond";
      text-transform: capitalize;
      font-weight: $font-weight-normal;
      font-size: 20px;
      line-height: 20px;
      position: absolute;
      bottom: 5px;
      right: 10px;
    }

  }

  &__navigation {
    background-color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;

    ul.menu {
      display: flex;
      align-items: center;
      justify-content: center;

      .logo {
        background: url(../img/logo.png) no-repeat;
        height: 30px;
        width: 110px;
        display: block;
        padding-bottom: 30px;

      }

      >li {
        margin: 0 0 0 40px;
        position: relative;

        &:first-child {
          margin: 0;
        }

        &:hover {
          cursor: pointer;

          ul.sub {
            display: block;
          }
        }

        &::before {
          content: '';
          width: 1px;
          height: 12px;
          background: #212529;
          transform: skew(-20deg);
          position: absolute;
          left: -20px;
          top: 6px;
        }

        >a {
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          text-align: center;
          text-transform: uppercase;
          color: #212529;
          // position: relative;
          display: block;
          // padding-bottom: 10px;
          font-family: "roboto-medium"

        }

        a.active {
          color: $third;
        }
      }

      li:first-child {
        &::before {
          display: none;
        }
      }

      .search {
        border-bottom: 1px solid #DEE1E5;
        height: 22px;
        display: flex;
        align-items: flex-end;

        i {
          padding-right: 8px;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: #000000;
          cursor: pointer;
          padding-bottom: 2px;
        }

        input {
          height: 22px;
          outline: none;
          border: none;

          &::placeholder {
            color: transparent;
            background: url(../img/search.png) center 4px no-repeat;
            width: 58px;
            height: 22px;
          }
        }
      }

    }

    ul.sub {
      display: none;
      position: absolute;
      width: 200px;
      background: $third;
      z-index: 1;
      padding: 0;
      margin: 0;
      list-style: none;

      a {
        font-size: 1.4rem;
        line-height: 3.4rem;
        font-weight: 500;
        padding: 0 8px;
        color: white;
        white-space: nowrap;
        height: 100%;
        align-items: center;
        display: flex;
        font-family: "roboto-regular";

        &:hover {
          background: white;
          color: $third !important;
        }
      }
    }
  }
}

.shadow {
  box-shadow: 0 4px 8px -6px #ccc
}