// ==================================================================
// =======================style global===============================
// ==================================================================
// style comment

.user {
  .info-author {
    color: $third;
  }
}

.wrap-dots {
  position: fixed;
  right: 28px;
  top: 300px;
  z-index: 9;
  top: 80%;
  transform: translateY(-50%);

  .dots {
    width: 16px;
    height: 16px;
    background: #ccc;
    margin-bottom: 20px;
    border-radius: 50%;
    transition: background-color 0.5s ease;
    cursor: pointer;
  }

  .active {
    background: #6C757D;
  }
}

// INFO: style chevron

.chevron-wrap {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 60px;
  margin: 0 auto;
  position: relative;

  &::before {
    content: '';
    width: 40px;
    height: 60px;
    background-color: transparent;
    position: absolute;
    z-index: 1;
  }
}

.chevron {
  position: absolute;
  width: 0.6rem * 3.5;
  height: 0.6rem * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #2c3e50;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }

  33.3% {
    opacity: 1;
    transform: translateY(0.6rem * 3.8);
  }

  66.6% {
    opacity: 1;
    transform: translateY(0.6rem * 5.2);
  }

  100% {
    opacity: 0;
    transform: translateY(0.6rem * 8) scale(0.5);
  }
}

@keyframes toRight {
  from {
    right: -40px;
    opacity: 1;
  }

  to {
    right: -50px;
    opacity: 0;
  }
}

@keyframes toLeft {
  from {
    left: -40px;
    opacity: 1;
  }

  to {
    left: -50px;
    opacity: 0;
  }
}

/** Text Animation **/

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

// mixin font

@mixin pd-bottom {
  padding-bottom: 300px;
}

a:hover {
  color: $third !important;
}

.box-social {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  button {
    width: 120px;
    height: 36px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: white;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    position: relative;
    color: white;
    font-family: "roboto-medium";

    &:hover {
      color: white !important;
    }



    i {
      margin-right: 10px;

      &::before {
        font-size: 20px;
        line-height: 20px;
        color: white;
      }
    }

  }

  .fb {
    background: #3B5998;
  }

  .twitter {
    background: #00ACEE;
  }

  .email {
    background: #CED4DA;
  }
}

// INFO :  style for scroll

#scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #f7f7f7;
  border-radius: 10px;
  background-color: #f7f7f7;
}

#scroll::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

#scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px $gray-300;
  background-color: $gray-300;
}


// ==================================================================
// ====================== home-page =================================
// ==================================================================

.box-style-1 {
  margin: 0 auto;
  width: 910px;
  // padding-bottom: 153px;
  padding-top: 42px;
  @include pd-bottom();


  .box-heading {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 23px;

    &::before,
    &::after {

      content: "";
      border-bottom: 1px solid #DC3545;
      margin: auto 0;
      width: 250px;
    }

    img {
      padding: 0 22px;
    }
  }

  .box-content {
    text-align: center;

    .story {

      &:last-of-type {
        margin-bottom: 62px;
      }
    }

    .story__summary p {
      margin-bottom: 8px;
      font-weight: $font-weight-normal;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #212529;
      font-family: "noto-regular";
    }
  }

  // Styling the default Slick dots
  .slick-slider {
    position: inherit !important;
  }

  .slick-dots {
    // display: flex;
    justify-content: center;
    margin: 0;
    // padding: 1rem 0;
    position: absolute;
    top: 600px;
    right: 28px;

    list-style-type: none;

    li {
      margin-bottom: 20px;
    }

    button {
      display: block;
      width: 16px;
      height: 16px;
      padding: 0;

      border: none;
      border-radius: 100%;
      background-color: #EFF0F2;

      text-indent: -9999px;
    }

    li.slick-active button {
      background-color: #6C757D;
    }

  }
}

.box-style-2 {
  background: #F7F7F7;
  padding: 130px 152px 300px;

  .box-heading {
    text-align: center;
    margin-bottom: 53px;

    a {
      font-weight: 900;
      font-size: 40px;
      line-height: 67px;
      text-transform: uppercase;
      color: #212529;
      font-family: "playfair-display";
      // // @include playfair-display();
      display: block;
    }
  }


  .box-content {
    text-align: center;

    .main-content {
      padding: 55px 0 0 0;
      margin: 0 auto;
      background: url("../img/bg-style-2.png") center center no-repeat;
      height: 870px;
    }

    .item {
      display: flex;
      align-items: center;
      height: 186px;
      width: 640px;
      margin: 0 auto;
      text-align: left;

      .rank-1 {

        width: 98px;
        height: 125px;
        display: block;
      }

      &:first-child {
        .rank-1 {
          background: url(../img/question1.png) no-repeat;
        }
      }

      &:nth-child(2) {
        .rank-1 {
          background: url(../img/question2.png) no-repeat;
        }
      }

      &:nth-child(3) {
        .rank-1 {
          background: url(../img/question3.png) no-repeat;
        }
      }

      &:nth-child(4) {
        .rank-1 {
          background: url(../img/question4.png) no-repeat;
        }
      }
    }


    .rank-1 {
      margin-right: 54px;
    }

    .story__heading {
      font-family: "noto-bold";
      font-style: normal;
      font-weight: $font-weight-bold;
      font-size: 16px;
      line-height: 24px;
      color: #212529;
      pointer-events: none;

      &:hover {
        color: #212529 !important;
      }
    }

    .right {
      justify-content: flex-end;

      .rank-1 {
        order: 1;
        margin-right: 0;
        margin-left: 54px;
        margin-right: 7px;
      }

      .rank-2 {
        padding-right: 0;
        text-align: right;
      }
    }

  }


}

.wrap-item {
  margin-bottom: 58px;
}

.wrap {
  position: relative;
  width: 930px;
  margin: 0 auto;
}

.wrap:nth-child(odd) {
  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 295px;
    width: 150px;
  }
}

.wrap:nth-child(even) {
  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 295px;
    width: 150px;
    right: -8px;
  }
}

.box-style-3 {
  @include pd-bottom();
  padding-top: 130px;

  .box-heading {
    text-align: center;

    a {
      font-weight: 900;
      font-size: 40px;
      line-height: 67px;
      text-transform: uppercase;
      color: #212529;
      font-family: "playfair-display";
    }
  }


  .main-content {
    background: url(../img/img-01.png) center center no-repeat;
    height: 540px;
    margin-bottom: 70px;
    margin-top: 63px;
    display: flex;
    justify-content: center;
  }


  .rank-1,
  .rank-2 {
    width: 510px;


    .story__heading {
      font-family: "noto-regular";
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #212529;
      max-width: 245px;
      position: relative;
      pointer-events: none;

      &::before {
        top: -15px;
        position: absolute;
        content: "";
        width: 30px;
        height: 12px;
        background: #13C2CD;
      }
    }
  }

  .rank-2 {

    .story:first-of-type {
      padding-left: 181px;
      margin-bottom: 64px;

      .story__heading:before {
        background-color: #FEAB2B;
      }
    }

    .story:nth-child(2) {
      padding-left: 270px;
      margin-bottom: 64px;


      .story__heading:before {
        background-color: #0FADFB;
      }
    }

    .story:nth-child(3) {
      padding-left: 312px;
      margin-bottom: 72px;


      .story__heading:before {
        background-color: #87FE38;
      }
    }

    .story:nth-child(4) {
      padding-left: 255px;

      .story__heading:before {
        background-color: #C510F8;
      }
    }
  }

  .rank-1 {
    .story:first-of-type {
      padding-left: 132px;
      margin-bottom: 47px;

      .story__heading:before {
        background-color: #13C2CD;
      }
    }

    .story:nth-child(2) {
      padding-left: 39px;
      margin-bottom: 97px;

      .story__heading:before {
        background-color: #E93918;
      }
    }

    .story:nth-child(3) {
      margin-bottom: 81px;

      .story__heading:before {
        background-color: #EFADCE;
      }
    }

    .story:nth-child(4) {
      padding-left: 57px;

      .story__heading:before {
        background-color: #479F76;
      }
    }
  }
}

.box-style-4 {
  padding-bottom: 300px;

  .box-heading {
    background-color: #F8F9FA;
    padding: 130px 52px 86px;
    text-align: center;

    a {
      font-weight: 900;
      font-size: 40px;
      line-height: 67px;
      text-align: center;
      text-transform: uppercase;
      font-family: "playfair-display";
      color: #212529;
    }
  }


  .rank-1,
  .rank-2 {
    height: 510px;

    .container {
      position: relative;
      height: 100%;
    }

    .story {
      width: 414px;
      position: absolute;

      &__heading .text {
        font-family: "noto-regular";
        font-weight: $font-weight-normal;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        position: relative;
        padding-top: 24px;
        pointer-events: none;

        &:first-child {
          &::before {
            content: '';
            background-color: #fff;
            width: 200px;
            height: 1px;
            top: 0;
            position: absolute;
            justify-content: space-between;
          }
        }
      }
    }

  }

  .rank-1 {
    background: #DC3545 url(../img/trong-dong.png) center top no-repeat;

    .wrap-img {
      position: absolute;
      top: -27px;
      left: 55px;
      width: 446px;
      height: 590px;
      background: url(../img/img-left.png) no-repeat;
    }

    .story {
      right: 0;
      margin-right: 130px;
      top: 80px;
    }
  }

  .rank-2 {
    margin-bottom: 50px;
    background: #17A2B8 url(../img/trong-dong.png) center bottom no-repeat;

    .wrap-img {
      position: absolute;
      right: 26px;
      top: -27px;
      width: 446px;
      height: 590px;
      background: url(../img/img-right.png) no-repeat;
    }

    .story {
      left: 152px;
      top: 102px;

    }
  }
}

.box-style-5 {
  // @include pd-bottom();
  padding-top: 130px;

  .box-heading {
    margin-bottom: 60px;
  }

  .text-1,
  .text-2 {
    text-align: center;
    text-transform: uppercase;
    display: block;
  }

  .text-1 {
    font-family: "playfair-display";
    color: #212529;
    font-weight: 900;
    font-size: 40px;
    line-height: 67px;
    margin-bottom: 11px
  }

  .text-2 {
    font-family: "noto-bold";
    font-weight: $font-weight-bold;
    font-size: 18px;
    line-height: 20px;
    color: #495057;
  }

  .box-content {
    .wrap-img {
      text-align: center;
      margin-bottom: 60px;

      img {
        border-radius: 50%;
        width: 352px;
        height: 352px;
      }
    }

    .stt {
      float: left;
    }

    .story {

      &__heading {
        padding-left: 101px;
        font-weight: $font-weight-normal;
        font-size: 14px;
        line-height: 22px;
        color: #212529;
        font-family: "noto-regular";
        pointer-events: none;
      }

      &__thumb {
        width: 90px;
        height: 100px;
        float: left;
      }
    }

    .col-4:nth-child(1n+4) {
      margin-top: 60px;
    }

    .row {
      margin-bottom: 60px;

      .story:nth-child(1) {
        .story__thumb {
          background: url(../img/1.png) no-repeat;
        }
      }

      .story:nth-child(2) {
        .story__thumb {
          background: url(../img/2.png) no-repeat;
        }
      }

      .story:nth-child(3) {
        .story__thumb {
          background: url(../img/3.png) no-repeat;
        }
      }

      .story:nth-child(4) {
        .story__thumb {
          background: url(../img/4.png) no-repeat;
        }
      }

      .story:nth-child(5) {
        .story__thumb {
          background: url(../img/5.png) no-repeat;
        }
      }

      .story:nth-child(6) {
        .story__thumb {
          background: url(../img/6.png) no-repeat;
        }
      }
    }
  }
}

// ==================================================================
// ====================== category ==================================
// ==================================================================
.section-category {
  .heading {
    margin-top: 50px;
    text-align: center;

    a {
      font-family: "roboto-black";
      font-weight: 900;
      font-size: 40px;
      line-height: 47px;
      text-transform: uppercase;
      color: #212529;
    }
  }
}

.box-style-7 {
  padding-bottom: 45px;
  margin-top: 48px;


  .col-4:nth-child(-n+3) .story {
    margin-top: 0;
  }

  .story {
    margin-top: 44px;

    &__thumb {
      height: 100%;
      background-color: transparent;
      margin-bottom: 12px;

      img {
        display: block;
        border-radius: 4px
      }

    }

    &__heading a {
      font-family: "noto-bold";
      font-weight: $font-weight-bold;
      font-size: 16px;
      line-height: 24px;
      color: #212529;
      margin-bottom: 8px;
    }

    &__summary {
      font-family: "roboto-regular";
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      font-weight: $font-weight-normal;
      font-size: 14px;
      line-height: 22px;
      color: #6C757D;
    }
  }

  .btn-pri {
    border-radius: 4px;
    margin-top: 28px;
    margin-bottom: 0;

    a {
      height: 51px;
      width: 319px;
      font-weight: 600;
      font-size: 17px;
      line-height: 29px;
    }
  }

}

// ==================================================================
// ======================= section-article ==========================
// ==================================================================

.box-style-8 {
  width: 632px;
  margin: 0 auto;
  margin-top: 28px;
  padding: 16px 0;
  border-top: 1px solid #DEE2E6;
  border-bottom: 1px solid #DEE2E6;

  .story {
    &__thumb {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      float: left;
      margin-right: 16px;

      a {
        display: block;
      }
    }

    &__heading a {
      font-family: "noto-regular";
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      color: #212529;
    }

    &__summary {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #6C757D;
      padding-left: 72px;
      font-family: "roboto-regular";
    }
  }
}

.box-style-9 {
  margin-top: 48px;
  margin-bottom: 48px;

  .box-heading {
    position: relative;
    height: 60px;
    text-align: center;
    margin: 15px 0 26px;

    &::before {
      bottom: 0;
      right: 50%;
      transform: translateX(50%);
      content: '';
      background: url(../img/vector-04.png);
      width: 183px;
      height: 18px;
      position: absolute;
      bottom: -7px;
    }

    .heading {
      font-family: "robotoCond-bold";
      font-weight: $font-weight-bold;
      font-size: 36px;
      line-height: 42px;
      text-transform: uppercase;
      color: #212529;
    }
  }

  .box-content {
    .story {
      &__thumb {
        margin-bottom: 12px;
      }

      &__heading a {
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: #212529;
        margin-bottom: 8px;
        font-family: "roboto-medium";
      }

      &__summary {
        font-weight: $font-weight-normal;
        font-size: 14px;
        line-height: 20px;
        color: #343A40;
        font-family: "roboto-regular";
      }
    }
  }
}

.section-article {

  .main-content {
    margin: 0 auto;
  }

  .sub-title {
    font-family: "noto-bold";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #DC3545;
    width: 760px;
    margin: 0 auto;
    margin-top: 16px;
  }

  .box-heading .article__title {
    font-family: "noto-bold";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    color: #212529;
  }

  .article {
    margin-top: 36px;
  }

  .breadcrumb {
    margin-top: 48px;
  }
}

// ==================================================================
// =======================section-article-text=======================
// ==================================================================

.section-article-text {
  .container {
    position: relative;
  }

  .box-social {
    margin-bottom: 50px;
  }
}

.box-style-10 {
  margin: 50px 0;
  position: relative;

  p {
    font-size: 1.6rem;
    padding-bottom: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #222222;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: $font-weight-bold;
  }

  .caption {
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-size: 1.5rem !important;
  }

  .box-heading {
    text-align: center;
    padding-bottom: 50px;

    .heading {
      font-family: "noto-bold";
      font-weight: $font-weight-bold;
      font-size: 36px;
      line-height: 46px;
      text-align: center;
      color: #212529;
    }

  }

  .box-content {
    position: relative;
    overflow: hidden;
  }

  .main-content {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #222222;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: auto;
    font-family: "noto-regular";
    column-width: 255px;
    column-gap: 38px;
    overflow-x: scroll;
    column-rule: 1px solid #EFF1F3;
  }

  .rank-2 {
    height: 400%;
    -webkit-column-break-inside: avoid;
    position: relative;

    .box-style-9 {
      display: flex;
      position: absolute;
      margin-left: -12px;
      background: #fff url("../img/header.png") center 0 no-repeat;
      padding-bottom: 160px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 0;
      margin-top: 0;
      // 750px
      padding-top: 93px;
      // padding-top: 150px;


      // @media (min-height: 800px) {
      //   padding-top: 78px;
      //   padding-bottom: 70px;
      // }

      @media (min-height: 900px) {
        padding-top: 85px;
        padding-bottom: 50px;
      }

      .story {
        margin: 0 19px;
        height: 100%;

        &__heading {
          margin-top: 12px;
          margin-bottom: 8px;

          a {
            font-family: "roboto-medium";
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            color: #212529;
          }
        }


        &__summary {
          width: 252px;
          height: 100%;
          font-family: "roboto-regular";
        }
      }

    }
  }

  .description {
    padding-top: .8rem;
    font-size: 16px;
    font-style: italic;
    color: #888;
    padding-left: 25px;
    padding-right: 25px;
  }

  .strong-text {
    font-weight: 600;
  }

  .column-miss {
    position: relative;
    background-color: white;
  }

}

// style arrow
.slideNext,
.slidePrev {
  width: 104px;
  height: 64px;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  border-radius: 4px;
  opacity: 0.5;
}

.slideNext {
  position: absolute;
  right: -20px;
  background: #000000 url(../img/arrow-right.png) center center no-repeat;

  @media (min-width: 1440px) {
    right: -100px;
  }
}

.slidePrev {
  position: absolute;
  left: -20px;
  background: #000000 url(../img/arrow-left.png) center center no-repeat;

  @media (min-width: 1440px) {
    left: -100px;
  }
}



// INFO :  style for scroll
#scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px white;
  background-color: white;
}

#scroll::-webkit-scrollbar {
  height: 5px;
  background: white;
}

#scroll::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 2px white;
  background-color: white;
}