.chapter-breadcrumb,
.box-heading {
    .style-heading {
        font-weight: $font-weight-medium;

        .item {
            display: inline;
            text-transform: uppercase;
        }

        .item:last-child {
            .breadcrumb-detail {
                &::after {
                    content: "\A";
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: #bbb;
                    display: inline-block;
                    position: absolute;
                    top: 47%;
                    transform: translateY(-50%);
                    margin-left: 20px;
                }
            }
        }
    }

    .style-heading {
        overflow: hidden;
        text-align: left;
        position: relative;
        text-transform: uppercase;


        &:after {

            background-color: $gray-300;
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 100%;
            margin-left: 40px;
            margin-right: -50%;
            position: absolute;
            top: 45%;
        }
    }

    .breadcrumb-detail {
        // font-weight: $font-weight-bold;
        position: relative;
        padding-left: 15px;

        &::before {
            content: '';
            width: 1px;
            height: 10.4px;
            background-color: #aaa;
            display: block;
            position: absolute;
            top: 3px;
            left: 4px;
            transform: skew(-14deg);
        }
    }

    .heading-focus {
        font-size: 22px;
        color: $third;
        font-weight: $font-weight-bold;

        &::after {
            content: "\A";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #bbb;
            display: inline-block;
            position: absolute;
            top: 47%;
            transform: translateY(-50%);
            margin-left: 20px;
        }
    }

    .pd-text {
        padding-right: 5px;
        font-size: 22px;
        color: $gray-500;
        font-weight: $font-weight-light;
    }

    .breadcrumb-home,
    .breadcrumb-detail {
        font-size: $font-size-base;
    }

    .breadcrumb-home {
        color: $primary;
    }
}

.chapter-breadcrumb {
    margin: 10px 0;

    .style-heading,
    p {
        overflow: hidden;
        text-align: left;
        position: relative;

        &:after {
            top: 52%;
        }
    }
}




.main-content {
    .content-left {
        .abf-cate {
            .col-23 {
                .story {
                    &__heading {
                        font-size: 26px;
                        font-weight: $font-weight-bold;
                        margin-top: 10px;
                    }

                    &__summary {
                        color: $secondary;

                    }
                }

                hr {
                    width: 50px;
                    margin: 15px 0;
                }

                .news-bonus {
                    padding-left: 16px;

                    p {
                        font-size: 16px;
                        font-weight: $font-weight-medium;
                        padding-bottom: 10px;


                        &::before {
                            content: "\2022";
                            color: $primary;
                            font-weight: 700;
                            display: inline-block;
                            width: 1em;
                            margin-left: -1em;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

            }

            .col-15 {
                .wrap-story {
                    margin-top: 0;
                    background-color: white;
                    padding: 0;

                    .story:first-child {
                        padding-bottom: 20px;
                        padding-top: 0;
                    }
                }

            }


        }

        .pagination {
            margin-top: 20px;
            margin-bottom: 30px;
            text-align: center;

            a {
                background-color: #f7f7f7;
                border-radius: 20px;
                padding: 10px 36px 9px;
                font-size: 14px;
                font-weight: $font-weight-medium;
                text-transform: uppercase;
                color: $primary;

                &:hover {
                    color: white;
                    background-color: $primary;
                }
            }
        }
    }

    .content-right {
        .pc {
            margin-bottom: 20px;
        }
    }
}