// ==================================================================
// =======================style global===============================
// ==================================================================
// style comment

.hamburger {
  cursor: pointer;
  display: block;
  padding: 7px 16px;
}

.line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  opacity: 1;
  transition: 0.3s all;
}

.animation {
  .line:nth-child(1) {
    transform: translateY(9px)rotate(45deg);
    transition: 0.3s all;
  }

  .line:nth-child(2) {
    opacity: 0;
    transition: 0.3s all;
  }

  .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
    transition: 0.3s all;
  }
}

// style humbuger
.menu-toggle {
  animation-name: fadeInUpSD;
  animation-duration: 1s;
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  width: 280px;
  background: #DC3545;
  margin-top: 12px;
  z-index: 1;

  li {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    color: #fff;

    a {
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      padding: 10px 18px;
      display: inline-block;
      color: white;
      font-family: "roboto-medium";
    }
  }

  .search-form {
    padding: 10px;
    position: relative;
    background: #C13133;
  }

  .form-control {
    font-size: 16px;
    height: 32px;
    color: #333;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }

  .btn-search {
    font-size: 1.6rem;
    position: absolute;
    right: 9px;
    top: 9px;
    padding: 5px 15px;
  }

  .btn-search i {
    color: #333;
  }
}

.open {
  display: block;
}

@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}



.user {
  .info-author {
    color: $third;
  }
}

// INFO: style chevron

.chevron-wrap {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 47px;
  margin: 0 auto;
  position: relative;

  &::before {
    content: '';
    width: 46px;
    height: 47px;
    background-color: transparent;
    position: absolute;
    z-index: 1;
  }
}

.chevron {
  position: absolute;
  width: 0.6rem * 3.5;
  height: 0.6rem * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #2c3e50;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }

  33.3% {
    opacity: 1;
    transform: translateY(0.6rem * 3.8);
  }

  66.6% {
    opacity: 1;
    transform: translateY(0.6rem * 5.2);
  }

  100% {
    opacity: 0;
    transform: translateY(0.6rem * 8) scale(0.5);
  }
}

// mixin 

@mixin padding-bt {
  padding-bottom: 100px;
}


.story {
  a:hover {
    color: red !important;
  }
}

.box-social {
  display: flex;
  justify-content: center;

  button {
    width: 40px;
    height: 36px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: white;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;

    i {
      &::before {
        font-size: 20px;
        line-height: 20px;
        color: white;
      }
    }

    a {
      color: white;

    }
  }

  .fb {
    background: #3B5998;
  }

  .twitter {
    background: #00ACEE;
  }

  .email {
    background: #CED4DA;
  }
}


// ==================================================================
// ====================== home-page =================================
// ==================================================================

.box-style-1 {
  margin: 0 auto;
  @include padding-bt();
  padding-top: 35px;


  .box-heading {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 23px;

    &::before,
    &::after {

      content: "";
      border-bottom: 1px solid #DC3545;
      margin: auto 0;
      width: 120px;
    }

    img {
      padding: 0 22px;
    }
  }

  .box-content {
    text-align: center;

    .story {

      &:last-of-type {
        margin-bottom: 35px;
      }
    }

    .story__summary p {
      margin-bottom: 8px;
      font-weight: $font-weight-normal;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #212529;
      font-family: "noto-regular";
    }
  }

  // Styling the default Slick dots
  .slick-slider {
    position: inherit !important;
  }

  .slick-dots {
    // display: flex;
    justify-content: center;
    margin: 0;
    // padding: 1rem 0;
    position: absolute;
    top: 600px;
    right: 28px;

    list-style-type: none;

    li {
      margin-bottom: 20px;
    }

    button {
      display: block;
      width: 16px;
      height: 16px;
      padding: 0;

      border: none;
      border-radius: 100%;
      background-color: #EFF0F2;

      text-indent: -9999px;
    }

    li.slick-active button {
      background-color: #6C757D;
    }

  }
}

.box-style-2 {
  background: #F7F7F7;
  padding: 40px 0 100px;

  .box-heading {
    text-align: center;
    padding: 0 16px;

    a {
      font-family: "playfair-display";
      font-style: normal;
      font-weight: 900;
      font-size: 19px;
      line-height: 29px;
      text-align: center;
      text-transform: uppercase;
      color: #212529;
    }
  }


  .box-content {
    height: 435px;
    padding-top: 34px;
    padding-bottom: 35px;
    background: #f7f7f7 url(../img/bg-04.png) 53%/159% 92% no-repeat;


    @media (min-width: 375px) {
      background: #f7f7f7 url(../img/bg-04.png) center 12px no-repeat;

    }

    .item {
      display: flex;
      align-items: center;
      margin: 0 auto;
      height: 92px;
      margin-bottom: -5px;
      padding: 10px 32px 10px 30px;
      width: 320px;

      @media (min-width: 375px) {
        padding: 10px 29px 10px 47px;
        width: 375px;
      }

      .rank-1 {
        width: 35px;
        height: 39px;
      }

      &:first-child {
        .rank-1 {
          background: url(../img/1.png)center left no-repeat;

        }
      }

      &:nth-child(2) {
        .rank-1 {
          background: url(../img/2.png) center right no-repeat;
        }
      }

      &:nth-child(3) {
        .rank-1 {
          background: url(../img/3.png)center left no-repeat;
        }
      }

      &:nth-child(4) {
        .rank-1 {
          background: url(../img/4.png) center right no-repeat;
        }
      }
    }

    .story {
      width: 100%;

      &__heading {
        font-family: "noto-regular";
        font-style: normal;
        font-weight: $font-weight-normal;
        line-height: 20px;
        color: #212529;
        pointer-events: none;
        font-size: 12px;

        @media (min-width: 375px) {
          font-size: 14px;
        }
      }
    }

    .left {
      background: url(../img/vector-01.png) center left no-repeat;
      position: relative;

    }

    .right {
      background: url(../img/vector-02.png) center right no-repeat;
      justify-content: flex-end;
      position: relative;

      .story__heading {
        text-align: right;
      }

      .rank-1 {
        order: 1;
      }

    }

  }

  .wrap-item {
    margin-bottom: 58px;
    width: 345px;
    margin: 0 auto;
  }

  .wrap {
    position: relative;
    margin: 0 auto;
  }

  .wrap:nth-child(odd) {
    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 295px;
      width: 150px;
      left: -128px;
    }
  }

  .wrap:nth-child(even) {
    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 295px;
      width: 150px;
      right: -8px;
    }
  }
}

.box-style-3 {
  padding: 40px 0 100px;

  .box-heading {
    text-align: center;
    margin-bottom: 15px;

    a {
      font-family: 'playfair-display';
      font-style: normal;
      font-weight: 900;
      font-size: 19px;
      line-height: 29px;
      text-align: center;
      text-transform: uppercase;
      color: #212529;
    }
  }


  .main-content {
    margin-bottom: 35px;

    .story {
      margin-top: 20px;

      &__thumb {
        width: 52px;
        height: 52px;
        margin: 0 auto;
        margin-bottom: 16px;
        background: white;
      }

      &__heading {
        font-family: "noto-regular";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #212529;
        pointer-events: none;
      }
    }

    .col-6:nth-child(-n+2) {
      .story {
        margin-top: 0;
      }
    }
  }


  // .rank-1,
  // .rank-2 {
  //   width: 510px;


  //   a {
  //     // @include noto-serif();
  //     font-weight: 500;
  //     font-size: 14px;
  //     line-height: 20px;
  //     color: #212529;
  //     max-width: 245px;
  //     position: relative;

  //     &::before {
  //       top: -15px;
  //       position: absolute;
  //       content: "";
  //       width: 30px;
  //       height: 12px;
  //       background: #13C2CD;
  //     }
  //   }
  // }

  // .rank-2 {

  //   .story:first-of-type {
  //     padding-left: 181px;
  //     margin-bottom: 64px;

  //     a:before {
  //       background-color: #FEAB2B;
  //     }
  //   }

  //   .story:nth-child(2) {
  //     padding-left: 270px;
  //     margin-bottom: 64px;


  //     a:before {
  //       background-color: #0FADFB;
  //     }
  //   }

  //   .story:nth-child(3) {
  //     padding-left: 312px;
  //     margin-bottom: 72px;


  //     a:before {
  //       background-color: #87FE38;
  //     }
  //   }

  //   .story:nth-child(4) {
  //     padding-left: 255px;

  //     a:before {
  //       background-color: #C510F8;
  //     }
  //   }
  // }

  // .rank-1 {
  //   .story:first-of-type {
  //     padding-left: 132px;
  //     margin-bottom: 47px;

  //     a:before {
  //       background-color: #13C2CD;
  //     }
  //   }

  //   .story:nth-child(2) {
  //     padding-left: 39px;
  //     margin-bottom: 97px;

  //     a:before {
  //       background-color: #E93918;
  //     }
  //   }

  //   .story:nth-child(3) {
  //     margin-bottom: 81px;

  //     a:before {
  //       background-color: #EFADCE;
  //     }
  //   }

  //   .story:nth-child(4) {
  //     padding-left: 57px;

  //     a:before {
  //       background-color: #479F76;
  //     }
  //   }
  // }
}

.box-style-4 {
  @include padding-bt();
  background-color: #F7F7F7;

  .box-heading {
    padding: 40px 0 10px;
    text-align: center;

    a {
      font-style: normal;
      font-weight: 900;
      font-size: 19px;
      line-height: 29px;
      text-align: center;
      text-transform: uppercase;
      font-family: "playfair-display";
      color: #212529;
    }
  }

  .box-content {
    .story {
      width: 275px;
      text-align: center;
      margin: 0 auto;

      &__heading {
        padding-bottom: 20px;
        position: relative;
        margin-bottom: 15px;
        font-style: normal;
        font-family: "noto-regular";
        font-weight: $font-weight-normal;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #212529;
        pointer-events: none;

        &::after {
          content: '';
          background: url(../img/line.png) center center no-repeat;
          width: 1px;
          height: 20px;
          position: absolute;
          right: 50%;
          top: 45px;
        }
      }

      &__thumb {
        margin: 0 auto;
        width: 75px;
        height: 75px;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        margin-bottom: 12px;
      }
    }

    .story:last-of-type {
      .story__heading::after {
        display: none;
      }
    }
  }
}

.box-style-5 {
  padding-top: 40px;
  margin-bottom: 30px;

  .box-heading {
    margin-bottom: 18px
  }

  .text-1,
  .text-2 {
    text-align: center;
    text-transform: uppercase;
    display: block;
  }

  .text-1 {
    color: #212529;
    font-family: "playfair-display";
    margin-bottom: 12px;
    font-weight: 900;
    font-size: 19px;
    line-height: 29px;
  }

  .text-2 {
    font-weight: $font-weight-bold;
    font-family: "noto-bold";
    color: #495057;
    font-size: 12px;
    line-height: 20px;
  }

  .box-content {
    .wrap-img {
      text-align: center;
      margin-bottom: 29px;

      img {
        border-radius: 50%;
        width: 140px;
        height: 140px;
      }
    }

    .stt {
      float: left;
    }

    .story {
      padding-left: 65px;

      &__heading {
        font-weight: $font-weight-normal;
        font-size: 14px;
        line-height: 22px;
        color: #212529;
        font-family: "noto-regular";
        pointer-events: none;
      }
    }

    .col-12:last-of-type {
      margin-bottom: 35px;
    }

    .col-12 {
      margin-bottom: 30px;
    }
  }
}

.box-style-6 {
  padding-top: 40px;
  margin-bottom: 64px;

  .box-heading {
    text-align: center;
    position: relative;
    padding-bottom: 28px;
    margin-bottom: 55px;

    &::after {
      width: 248px;
      height: 24px;
      bottom: 0;
      content: '';
      position: absolute;
      background: url(../img/vector-03.png) center no-repeat;
      right: 50%;
      transform: translateX(50%);
    }

    a {
      font-family: "myriad-bold-cond";
      font-weight: $font-weight-bold;
      font-size: 22px;
      line-height: 38px;
      text-align: center;
      text-transform: uppercase;
      color: #DC3545;
    }
  }

  // .rank-1 {
  //   margin-bottom: 74px;
  //   position: relative;
  //   height: 460px;

  //   &::before {
  //     top: 95px;
  //     position: absolute;
  //     content: '';
  //     width: 1055px;
  //     border-bottom: 1px dashed #ADB5BD;
  //     right: 50%;
  //     transform: translateX(50%);
  //   }


  // }

  .story {
    text-align: center;
    width: 170px;
    margin-top: 35px;

    &__thumb {
      background: white;
      width: 120px;
      height: 120px;
      margin: 0 auto;
      margin-bottom: 54px;

      img {
        // border: 6px solid #DCDCDC;
        border-radius: 50%;
      }
    }

    &__heading {
      margin-bottom: 16px;

      a {
        font-family: "myriad-bold-cond";
        font-weight: $font-weight-bold;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #212529;
        margin: 0 auto;

      }
    }

    &__summary {
      font-weight: $font-weight-normal;
      font-family: "noto-regular";
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: #212529;
      width: 170px;
      margin: 0 auto;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      padding: 0 7px;

      @media (min-width:425px) {
        padding: 0;
      }
    }
  }

  // .rank-2 {
  //   .col-7 {
  //     padding-left: 58px;
  //   }

  //   .heading {
  //     // @include roboto-condensed();
  //     font-weight: $font-weight-bold;
  //     font-size: 26px;
  //     line-height: 36px;
  //     text-transform: uppercase;
  //     color: #212529;
  //     margin-bottom: 40px;
  //     cursor: pointer;
  //   }

  //   .sub-heading {
  //     font-weight: $font-weight-bold;
  //     // @include noto-serif();
  //     font-size: 16px;
  //     line-height: 24px;
  //     color: #212529;
  //     margin-bottom: 22px;
  //     cursor: pointer;
  //   }

  //   p {
  //     font-weight: $font-weight-normal;
  //     // @include noto-serif();
  //     font-size: 16px;
  //     line-height: 24px;
  //     color: #212529;
  //     margin-bottom: 25px;
  //   }
  // }

  .box-content {
    position: relative;
  }

  // .slick-next,
  // .slick-prev {
  //   position: absolute;
  //   top: 65px;

  //   img {
  //     cursor: pointer;
  //   }
  // }

  // .slick-next {
  //   right: -40px;
  // }

  // .slick-prev {
  //   left: -40px;
  // }

  // .slick-list {
  //   width: 1030px;
  //   margin: 0 auto;
  // }

  // .slick-active {
  //   width: 185px !important;
  // }

  .slick-slide {
    // padding: 0 18px;

    &.slick-center {

      .story__thumb {
        // width: 190px;
        // height: 190px;
        transform: scale(1.59);
        margin-bottom: 54px;
        margin-top: 0;
        transition: all 0.5s ease;
      }
    }
  }
}

// ==================================================================
// ====================== category ==================================
// ==================================================================

.box-style-7 {
  margin-bottom: 23px;

  .row {
    margin-bottom: 28px;
  }


  .story {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 23px;
    }

    &__thumb {
      width: 80px;
      height: 60px;
      float: left;
      margin-right: 12px;

      @media (min-width: 768px) {
        width: 200px;
        height: 130px;
      }

      img {
        display: block;
        border-radius: 4px;
        height: 100%
      }

    }

    &__heading a {
      font-family: "noto-regular";
      font-weight: $font-weight-normal;
      font-size: 14px;
      line-height: 20px;
      color: #212529;
    }

  }

  .btn-pri {
    border-radius: 4px;
    margin-bottom: 48px;

    a {
      height: 34px;
      width: 169px;
      font-weight: 500;
      font-size: 14px;
      line-height: 26px;
      padding: 4px 24px;
      font-family: "roboto-medium";
    }
  }


}

// ==================================================================
// ======================= section-article ==========================
// ==================================================================

.box-style-8 {
  margin: 0 auto;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 16px 0;
  border-top: 1px solid #DEE2E6;
  border-bottom: 1px solid #DEE2E6;

  .story {
    &__thumb {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      float: left;
      margin-right: 16px;

      a {
        display: block;
      }
    }

    &__heading a {
      font-family: "noto-regular";
      font-style: normal;
      font-weight: $font-weight-normal;
      color: #212529;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 8px;

      @media (min-width: 414px) {
        font-size: 20px;
      }
    }

    &__summary {
      font-family: "roboto-regular";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #6C757D;
      padding-left: 72px;

      @media (min-width: 414px) {
        font-size: 16px;
      }
    }
  }
}

.box-style-9 {
  margin-top: 16px;
  margin-bottom: 16px;

  .box-heading {
    text-align: left;
    padding-bottom: 0;
    height: auto;
    padding-bottom: 12px;


    &::before {
      display: none;
    }
  }

  .heading {
    font-family: "robotoCond-bold";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #212529;
  }

  .box-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .story {
    width: calc(50% - 8px);

    &__thumb {
      margin-bottom: 4px;
    }

    a {
      font-family: "noto-bold";
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      color: #212529;
    }
  }

  .story:nth-child(-n+2) {
    margin-bottom: 16px;
  }
}

.section-article {
  .breadcrumb {
    margin-bottom: 16px;
    margin-top: 16px;
  }

  >.main-content {
    margin-bottom: 16px;

    .box-heading {
      @media (min-width: 375px) {
        width: 343px;
        margin: 0 auto;
      }

      @media (min-width: 768px) {
        width: auto;
      }
    }
  }

  .box-heading .article__title {
    font-family: "noto-bold";
    font-weight: bold;
    text-align: center;
    color: #212529;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;

    @media (min-width: 414px) {
      font-size: 18px;
    }
  }
}

// ==================================================================
// =======================section-article-text=======================
// ==================================================================

// ==================================================================
// =======================section-article-text=======================
// ==================================================================

.section-article-text {
  .container {
    position: relative;
  }

  .box-social {
    margin-bottom: 35px;
  }
}

.box-style-10 {
  margin: 35px 0;
  position: relative;

  p {
    color: #222222;
  }

  >.box-heading {
    text-align: center;
    padding-bottom: 16px;

    a {
      font-family: "noto-bold";
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      text-transform: uppercase;
      color: #212529;

    }

  }



  .rank-1 {
    font-size: 16px;
  }

}

// style arrow
.slideNext,
.slidePrev {
  width: 104px;
  height: 64px;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.slideNext {
  position: absolute;
  right: 0;
  background: url(../img/arrow-right.png) no-repeat;
  width: 104px;
  height: 64px;
}

.slidePrev {
  position: absolute;
  left: 0;
  background: url(../img/arrow-left.png) no-repeat;
}

// INFO :  style for scroll
#scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px white;
  background-color: white;
}

#scroll::-webkit-scrollbar {
  height: 5px;
  background: white;
}

#scroll::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 2px white;
  background-color: white;
}